.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #ffc107;
  color: black;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}
.style5 .tooltip {
  background: #1e252b;
  color: #ffffff;
  max-width: 200px;
  width: auto;
  font-size: 0.8rem;
  padding: 0.5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #ffc107;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1e252b;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

#external-events {
  position: fixed;
  left: 20px;
  top: 240px;
  width: 200px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#external-events h3 {
  font-size: 18px;
  margin-top: 0;
  color: black;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 3px 0;
  cursor: move;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

#calendar-wrap {
  margin-left: 200px;
}

#calendar {
  max-width: 1100px;
  margin: 0 auto;
}

.calendar .header .month-year {
  font-size: 20px;
  font-weight: bold;
  color: #636e73;
  padding: 20px 0;
}
.calendar .days {
  display: flex;
  flex-flow: wrap;
}
.calendar .days .day_name {
  width: calc(100% / 8);
  border-right: 1px solid #2c7aca;
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #818589;
  color: #fff;
  background-color: #448cd6;
}
.calendar .days .day_name:nth-child(7) {
  border: none;
}
.calendar .days .day_num {
  display: flex;
  flex-flow: column;
  width: calc(100% / 8);
  border-right: 1px solid #e6e9ea;
  border-bottom: 1px solid #e6e9ea;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #7c878d;
  cursor: pointer;
  min-height: 100px;
}
.calendar .days .day_num span {
  display: inline-flex;
  width: 30px;
  font-size: 18px;
}
.calendar .days .day_num .event {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #f7c30d;
  color: #fff;
  word-wrap: break-word;
}
.calendar .days .day_num .event.green {
  background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
  background-color: #518fce;
}
.calendar .days .day_num .event.red {
  background-color: #ce5151;
}
.calendar .days .day_num:nth-child(7n + 1) {
  border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover {
  background-color: #fdfdfd;
}
.calendar .days .day_num.ignore {
  background-color: #fdfdfd;
  color: #ced2d4;
  cursor: inherit;
}
.calendar .days .day_num.selected {
  background-color: #f1f2f3;
  cursor: inherit;
}
